{% extends 'base.html' %}

<!-- TITLE BLOCK -->
{% block title %}
  {% if g.user %}
    Board
  {% else %}
    Home
  {% endif %}
{% endblock %}

<!-- HEADER BLOCK -->
{% block header %}
  {% if g.user %}
    <!--
    <div class="jumbotron">
      <h1 class="display-3">Board</h1>
      <p class="lead">
        This is a simple post-it board to save your favorite code snippets.
      </p>
      <hr class="my-4">
      <p>Members of the board (green is online, red is offline):</p>
      <p class="lead">
        <span class="badge badge-success">zujany</span>
        <span class="badge badge-success">rafael</span>
        <span class="badge badge-danger">michel</span>
        <span class="badge badge-danger">cedric</span>
      </p>
    </div>
    -->  
    <h1>
      Board
    </h1> 
    <p class="lead">
      <span>Members: </span>
      <span class="badge badge-success">zujany</span>
      <span class="badge badge-success">rafael</span>
      <span class="badge badge-danger">michel</span>
      <span class="badge badge-danger">cedric</span>
    </p>
  {% else %}
    <div class="jumbotron">
      <h1 class="display-3">Welcome to KeepCode</h1>
      <p class="lead">
        This is a simple post-it board to save your favorite code snippets.
      </p>
      <hr class="my-4">
      <p>Start by registering or log in to continue your work:</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}" role="button">Log In</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.register') }}" role="button">Register</a>
      </p>
    </div>
  {% endif %}
{% endblock %}

<!-- CONTENT BLOCK -->
{% block content %}
  {% if g.user %}
    <div class="row justify-content-center">
      <div class="card-deck">
        <div class="col-auto mb-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header">Programming Language</div>
              <div class="card-body">
                <a class="action" href="{{ url_for('board.create') }}">
                  <h4 class="card-title">New Snippet</h4>
                </a>
                <p class="card-text">
                  Create a NEW code snippet for the board and share it with your colleagues.
                </p>
                <p>.</p>
              </div>
            </div>
        </div>
      
        {% for post in posts %}
          <div class="col-auto mb-3">
            <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
              <div class="card-header">{{ post['programming_language'] }}</div>
              <div class="card-body">
                <a class="action" href="{{ url_for('board.view', id=post['id']) }}">
                  <h4 class="card-title">{{ post['title'] }}</h4>
                </a>
                <p class="card-text">
                  {{ post['body'][:100] }}
                  <p>...</p>
                </p>
                <!--
                  <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                -->
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}