{% extends 'base.html' %}

<!-- HEADER BLOCK -->
{% block header %}
  <!-- TITLE BLOCK -->
  <h1>
    {% block title %}
      Code Snippet
    {% endblock %}
  </h1>
{% endblock %}

<!-- CONTENT BLOCK -->
{% block content %}
  <div class="card text-white bg-warning mb-9">
    <div class="card-header">{{ post['programming_language'] }}</div>
    <div class="card-body">
      <h4 class="card-title">{{ post['title'] }}</h4>
      <p class="card-text">
        <!-- TODO render code prettier -->
        {% for line in post['body'].split('\n') %}
          <p>{{ line }}</p>
        {% endfor %}
      </p>
    </div>
  </div>

  <hr>

  <b>Author: </b>{{ user['username'] }}
  <br/>
  <b>Created: </b>{{ post['created'].strftime("%d-%m-%Y at %H:%M") }}
  <br/>
  <b>Last Updated: </b>{{ post['last_updated'].strftime("%d-%m-%Y at %H:%M") }}

  <hr>
  <div id="update_button">
    {% if post['being_updated'] == 0 %}
      <a class="action" href="{{ url_for('board.update', id=post['id']) }}">
        <button type="button" class="btn btn-primary" value="Update">Update</button>
      </a>
    {% else %}
      <button type="button" class="btn btn-primary" value="Update" disabled>Update</button>
      You can't update this snippet because someone else is currently editing it. 
  </div>
  {% endif %}
  <script type="text/javascript">
      setInterval("update_available();",1000); 
      function update_available(){
        $( "#update_button" ).load(window.location.href + " #update_button" );
      }
  </script>
  <hr>
  
{% endblock %}