<!doctype html>
<title>{% block title %}{% endblock %} - KeepCode</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ url_for('board.index') }}">KeepCode</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <!--
    {% if g.user %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <span class="navbar-text">{{ g.user['username'] }}</span>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        </li>
      </ul>
    {% else %}
    <ul class="navbar-nav mr-auto navbar-right"></ul>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
      </li>
    </ul>
    {% endif %}
    -->

    <ul class="navbar-nav mr-auto">
      {% if g.user %}
        <li class="nav-item">
          <span class="navbar-text">{{ g.user['username'] }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        </li>
      {% endif %}
    </ul>
    
  </div>
</nav>

<section class="content">
  
  <div class="container">
    <header>
      {% block header %}
        <!--header-->
      {% endblock %}
    </header>
  
    {% for message in get_flashed_messages() %}
      <!--flashed messages-->
      <div class="flash">{{ message }}</div>
    {% endfor %}
  
    {% block content %}
      <!--content-->
    {% endblock %}
  </div>
</section>